
/* тут будут стили */

/* @import (''); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #3CD500 transparent;
    /* scrollbar-gutter: stable; */
}

body {
    font-family: "Shantell Sans";
    font-weight: 400;
    font-style: normal;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;

    width: 100%;
    height: 100%;

    min-height: 100vh;
    
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

p {
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #3CD500;
}

h1 { text-align: center; font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.7em; }
p { font-size: 1.4em; color: #016f56 }
p > span { color: #d8ab1d; }

.wrapper {
    margin: 100px 0;
    padding: 20px;
    width: min( 90%, 1100px );
    height: 100%;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(6.9px); */
    /* -webkit-backdrop-filter: blur(6.9px); */
    border: 1px solid rgba(255, 255, 255, 0.3);
}

a {
    text-decoration: none;
    color: rebeccapurple;
}

.wrapper > * {
    margin-bottom: 10px;
}